<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Port de plaisance Russell</title>
</head>
<body>
  <header>
    <h1>Documentation de l'API</h1>
  </header>
  <main>
    <p>Mon API permet de gérer le CRUD des utilisateurs, des catways et des réservations pour un port de plaisance. Elle a été pensée pour le propriétaire du port, qui dispose d’un accès complet à l’ensemble des données.</p>

    <p>Le propriétaire peut consulter tous les utilisateurs, toutes les réservations et tous les catways existants. Il a la possibilité de modifier les catways, notamment leur emplacement, leur taille et leur état. Il peut également ajouter, modifier ou supprimer des utilisateurs directement depuis l’application. La modification du mot de passe des utilisateurs est possible ; ce point n’était pas explicitement précisé dans le devoir, j’ai donc choisi de le laisser tel quel.</p>

    <p>Concernant les réservations, le propriétaire peut en créer, en modifier ou en supprimer. Il peut aussi visualiser l’ensemble des réservations en cours. Toutes les réservations sont accessibles sans restriction particulière.</p>

    <p>Lors de la connexion, l’utilisateur est redirigé vers le dashboard. Le dashboard permet d’afficher toutes les réservations en cours ainsi que le profil avec lequel la connexion a été effectuée. Il n’était pas clairement indiqué dans le sujet s’il fallait distinguer plusieurs rôles, comme un compte administrateur et un compte utilisateur classique. Étant donné les difficultés rencontrées pour finaliser le projet et l’absence de précision sur ce point, je n’ai pas mis en place de système de rôles distincts, même si cette possibilité a été envisagée.</p>

    <p>Pour la partie front-end, j’ai utilisé EJS. J’ai placé l’ensemble des vues dans le dossier views, conformément à ce que j’ai compris du fonctionnement attendu. Concernant les routes, j’ai suivi la structure vue en cours. J’ai également compris qu’il était possible de centraliser les routes front-end dans un seul fichier, ce que j’ai fait avec pages.js. Ce fichier gère les routes côté interface et communique avec les modèles, qui eux-mêmes interagissent directement avec MongoDB.</p>

    <p>Pour la base de données, j’ai conservé la structure par défaut. Les données se sont enregistrées automatiquement selon les modèles définis. </p>
    
  </main>

</body>
</html>
